*, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 13vh;
  text-align: center;
  position: fixed;
  top: 0px;
  border-bottom: 0.7px solid #c7bebe;
  width: 100%;
  background-color: white;
  z-index: 10;
}

header .logo {
  font-size: 1.5em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #947cb8;
  text-shadow: 4px 4px #c4bfbf;
}

header nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  padding: 0 30px;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: #262c38;
  padding: 10px 3px;
}

header nav ul li a:hover {
  background: #4244a1;
  color: white;
}

header .icons {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .icons I {
  font-size: 25px;
  padding: 15px;
}

.level-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  max-width: 80%;
  margin: 100px auto 60px auto;
}

.level-1 .fashion-text {
  padding: 40px 30px;
  text-align: center;
}

.level-1 .fashion-text h2 {
  font-size: 3em;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
}

.level-1 .fashion-text p {
  text-align: center;
  margin: 30px 40px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'segoe script';
}

.level-1 .fashion-text a {
  text-align: center;
  text-decoration: none;
  color: #f0e3fd;
  padding: 15px;
  background: #2e1b49;
  border-radius: 12px;
}

.level-1 img {
  width: 30%;
}

.level-2 h2 {
  text-align: center;
  font-style: italic;
  font-size: 1.7em;
  color: orangered;
}

.level-2 .latest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin: 20px;
}

.level-2 .latest .latest-img {
  height: 100%;
  margin: 0 13px;
  border: 0.5px solid #c2a6a6;
}

.level-2 .latest .latest-img img {
  height: 70vh;
}

.level-2 .latest .latest-img h3 {
  font-size: 1.7em;
  text-align: center;
  font-family: 'Ruthie', cursive;
}

.level-2 .latest .latest-img p {
  text-align: center;
}

.level-2 .latest::-webkit-scrollbar {
  display: none;
}

.level-2 .container:hover img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.level-2 .container:hover .text {
  opacity: 1;
}

.level-2 .text {
  color: #fdfffb;
  font-size: 26px;
  font-weight: 600;
  position: relative;
  top: -250px;
  left: 180px;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.level-2 .text:hover {
  color: orange;
}

.arrow-right {
  padding: 30px;
}

.arrow-right .ri-arrow-right-s-line {
  font-size: 60px;
  background: -webkit-gradient(linear, left top, left bottom, from(#011616), to(#022525));
  background: linear-gradient(#011616, #022525);
  border-radius: 50%;
  color: whitesmoke;
  position: absolute;
  top: 150%;
  left: 90%;
}

#About {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(https://t4.ftcdn.net/jpg/02/55/02/31/240_F_255023186_b3j6FkcPck1sibHidJLecnkOPhS8WxSx.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  margin: 60px 40px;
  border: 1px solid whitesmoke;
  -webkit-box-shadow: 2px 0px 90px #947cb8;
          box-shadow: 2px 0px 90px #947cb8;
}

#About .abt-info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 60%;
  font-size: 1.2em;
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
}

#About .abt-info button {
  opacity: 1;
}

#About .abt-info a {
  text-decoration: none;
  text-align: center;
  color: orangered;
}

#About .abt-info a:hover {
  color: #947cb8;
}

footer {
  background: #947cb8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
}

footer h2 {
  font-size: 1.9em;
  color: #9fff0f;
}

footer h2:hover {
  color: orangered;
}

footer i {
  font-size: 20px;
  padding: 5px;
  color: black;
}

footer p {
  color: black;
}

footer p:hover {
  color: white;
}

@media only screen and (max-width: 1060px) {
  header .logo {
    font-size: 1.3em;
  }
  header nav ul li {
    padding: 0 20px;
  }
  .level-1 {
    max-width: 90%;
  }
  .level-1 .fashion-text p {
    margin: 30px 20px;
  }
  .level-2 .latest .latest-img img {
    height: 55vh;
  }
  #About {
    background-image: none;
  }
  #About .abt-info {
    max-width: 80%;
  }
}

@media only screen and (max-width: 952px) {
  header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav {
    display: none;
  }
  .level-1 {
    display: block;
    height: auto;
    text-align: center;
    margin: 120px auto 60px auto;
  }
  .level-1 img {
    width: 50%;
  }
  .level-1 .fashion-text p {
    font-size: 20px;
  }
  #About img {
    width: 50%;
  }
  footer p {
    font-size: 16px;
  }
  .ri-arrow-right-s-line {
    display: none;
  }
}

@media only screen and (max-width: 758px) {
  #About {
    display: block;
    text-align: center;
  }
  #About .abt-info {
    padding: 10px;
    max-width: 95%;
    font-size: 1em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .level-2 img {
    height: 40vh;
  }
}

@media only screen and (max-width: 520px) and (max-height: 540px) {
  .level-1 img {
    height: 95%;
  }
  .level-2 img {
    height: 100%;
  }
  #abt-info {
    font-size: 17px;
  }
}

@media only screen and (max-width: 480px) {
  header {
    display: block;
    height: auto;
  }
  header .logo {
    font-size: 1.2em;
    padding: 10px;
  }
  header .icons i {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .level-1 img {
    width: 95%;
  }
  .level-1 .fashion-text {
    padding: 40px 0px;
  }
  .level-2 .latest {
    display: block;
    overflow-x: hidden;
  }
  .level-2 .latest .latest-img {
    margin: 17px 13px;
  }
  .level-2 .latest .latest-img img {
    width: 100%;
    height: 100%;
  }
  #About {
    margin: 20px 20px;
  }
  #About .abt-info {
    max-width: 100%;
    font-size: 16px;
  }
  #About img {
    width: 60 #About img;
  }
  footer {
    display: block;
    text-align: center;
  }
  footer .part2 {
    margin: 20px;
  }
}

@media only screen and (max-width: 360px) {
  header {
    height: auto;
  }
  .level-1 img {
    width: 95%;
  }
  .level-1 .fashion-text {
    padding: 40px 20px;
  }
  .level-1 .fashion-text h2 {
    font-size: 2.5em;
  }
  #About img {
    width: 80%;
  }
  .level-2 .latest {
    display: block;
  }
  .level-2 .latest .latest-img {
    margin: 17px 13px;
  }
  .level-2 .latest .latest-img img {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */